<%-include('../shared/head-panel.ejs')%>
<link href="<%=asset_url%>/public/lib/jt.timepicker/jquery.timepicker.css" rel="stylesheet">
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <a class="breadcrumb-item" href="<%=app_url%>/shifts">Suburbs</a>
            <span class="breadcrumb-item active">New Shift</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">New Price</h4>
    </div>

    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Price of food <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="" name="food"
                                    value="<%= price.food %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Delivery Charge <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="" name="delivery_charge"
                                    value="<%=setting.delivery_charge%>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Gst value <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="gst"
                                    value="<%=setting.gst %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Per Hour Charge(driver) <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="per_hour_charge"
                                    value="<%=setting.per_hour_charge %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Per Order Charge(driver) <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="per_order_charge"
                                    value="<%=setting.per_order_charge %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Mobile Number <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="mobilenumber"
                                    value="<%=setting.office_mobile%>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Service Charge SquareUp <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="service_charge_square"
                                    value="<%=setting.service_charge_square %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Service Charge Paypal <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="service_charge_paypal"
                                    value="<%=setting.service_charge_paypal %>">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> Minimum Schedule Hour <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="select2-show-search form-control"  name="min_schedule_hour" id="min_schedule_hour">
                                    <%for(i=1;i<=24;i++){%>
                                    <option value="<%= i%>" <%if(setting.min_schedule_hour==i){%>selected<%}%> ><%= i %></option>
                                    <%}%>    
                                </select>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"> CP Commission Per Item <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="" name="cp_commission_per_item"
                                    value="<%=setting.cp_commission_per_item %>">
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <button class="btn btn-info" type="submit">Update</button>
                            <a href="<%=app_url%>/dashboard"><button class="btn btn-secondary"
                                    type="button">Cancel</button></a>
                        </div>
                    </div>
                    <!-- form-layout -->
                </form>
            </div>
            <!-- col-6 -->
        </div>
    </div>
    <!-- br-pagebody -->
</div>
<!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<%-include('../shared/scripts.ejs')%>
<script>
    $("#masters").addClass('active show-sub')
    $("#editsettings").addClass('active')
    $("form#mainForm").validate({
        normalizer: function (value) {
            return $.trim(value);
        },
        rules: {
            food: {
                required: true
            },
            delivery_charge: {
                required: true
            },
            gst: {
                required: false,
                min: 0,
                max: 100,
            },
            per_hour_charge: {
                required: true,
                min: 0,
                number: true
            },
            per_order_charge: {
                required: true,
                min: 0,
                number: true
            },
            service_charge_square:{
                number:true,
                min:0,
                required:true
            },
            service_charge_paypal:{
                number:true,
                min:0,
                required:true
            }
        },
        messages: {
            food: {
                required: "price is required"
            },
            delivery_charge: {
                required: "Delivery charge is required"
            },
            gst: {
                min: "minimum value is 0",
                max: "maximum value is 100"
            },
            per_hour_charge: {
                required: "Per hour charge is required",
                min: "Minimum value is 0",
                number: "Per hour charge should be numeric"
            },
            per_order_charge: {
                required: "per order charge is required",
                min: "Minimum value is 0",
                number: "Per order charge should be numeric"
            },
            service_charge_square: {
                required: "Service charge squareup required",
                min: "Minimum value is 0",
                number: "Service charge squareup should be numeric"
            },
            service_charge_paypal: {
                required: "Service charge paypal required",
                min: "Minimum value is 0",
                number: "Service charge paypal should be numeric"
            }
        },
        submitHandler: function (form) {
            $('.submitBtn').prop('disabled', true)
            var form = document.getElementById("mainForm");
            var data = $(form).serialize();
            $.ajax({
                url: "<%=app_url%>/settings/edit",
                data,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        data
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null
                    data = typeof data != 'undefined' ? data : {}

                    if (status == true) {
                        toastr["success"](message);
                        setTimeout(function () {
                            window.location.reload()
                        }, 1000)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', true)
                }
            });
            return false;
        },
        Cancel: function () {
            $.alert('Canceled!');
        }
    });
</script>
<%-include('../shared/footer-panel.ejs')%>