<%-include('../shared/head-panel.ejs')%>
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="br-pageheader pd-y-15 pd-l-20">
            <nav class="breadcrumb pd-0 mg-0 tx-12">
                <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                    <%=SITE_NAME%>
                </a>
                <span class="breadcrumb-item active">Suburbs</span>
            </nav>
        </div>
        <!-- br-pageheader -->
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h5 class="tx-gray-800 mg-b-5">Suburbs list</h4>
        </div>

        <div class="br-pagebody">
            <form action="">
                <div class="d-flex align-items-center justify-content-end bg-gray-100 ht-md-80  pd-x-20 mg-t-10">
                    <div class="d-md-flex pd-y-20 pd-md-y-0 col-md-6">
                        <input type="text" class="form-control" name="search" value="<%=search%>" placeholder="Search Name">
                        <button type="submit" class="btn btn-success pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Search</button>
                        <a href="<%=app_url%>/suburbs" type="reset" class="btn btn-danger pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Reset</a>
                    </div>
                </div>
            </form>
            <table class="table table-bordered bg-white border-top-1 border border-light">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Action</th>
                        <th>Has Scheduled Delivery</th>
                        <th>Has Realtime Delivery</th>
                    </tr>
                </thead>
                <tbody>
                    <% let i=0 %>
                        <% suburbs.forEach(suburb => { i++ %>
                            <tr>
                                <td>
                                    <%= i %>
                                </td>
                                <td>
                                    <%= suburb.name %>
                                </td>
                                <td>
                                    <%= suburb.address %>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="submitBtn btn btn-sm btn-danger" href="javascript:;" class="text-danger" onclick="deleteVehicle('<%=suburb._id%>')">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a href="<%=app_url%>/suburbs/edit/<%=suburb._id%>" class="btn btn-sm btn-primary">
                                            <i class="fa fa-edit"></i>
                                        </a>    
                                    </div>                                                                     
                                </td>
                                <td>
                                    <div class="toggle-wrapper">
                                        <div data-id="<%=suburb._id%>" class="toggle toggle-light primary" <% if(suburb.has_realtime_order) { %>data-toggle-on="true" <%}%> ></div>
                                    </div>  
                                </td>
                                <td>
                                    <%
                                        shifts.forEach(shift=>{
                                            var exists = false;
                                            console.log(typeof suburb.has_online_delivery)
                                            if(typeof suburb.has_online_delivery == 'object'){
                                                exists = suburb.has_online_delivery.some((ord)=>{
                                                    return shift._id.toString() == ord.toString()
                                                })
                                            }
                                            %>
                                            <div class="d-flex">
                                            <label class="pr-2 clr"><%= shift.name %></label>
                                            <div class="toggle-wrapper">
                                                <div data-rid="<%=suburb._id%>" data-shift_id="<%=shift._id%>" class="toggleRealtime toggle-light primary" <% if(suburb.has_online_delivery && exists) { %>data-toggle-on="true" <%}%>></div>
                                            </div>
                                        </div>
                                            <%
                                        })
                                    %>    
                                </td>
                            </tr>
                            <% });%>
                </tbody>
            </table>
            <%-include('../shared/pagination.ejs',pages)%>
        </div>
        <!-- br-pagebody -->
    </div>
    <!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
    <%-include('../shared/scripts.ejs')%>
        <script>
        $("#suburbs").addClass('active show-sub')
        $("#allsuburbs").addClass('active')

        $('.toggle').toggles({
            text: {
                on: '<i class="fa fa-check"></i>',
                off: '<i class="fa fa-remove"></i>'
            },
            height: 26,
            width: 60
        });

        $('.toggle').on('toggle', function (e, active) {
            var id = $(this).data('id')
            var approve = 0
            if (active) {
                approve = 1
            }
            $.ajax({
                url: "<%=app_url%>/suburb/setrealtimedelivery",
                data: {
                    id,
                    approve,
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    console.log("added")
                }
            });
        });

        $('.toggle').toggles({
            text: {
                on: '<i class="fa fa-check"></i>',
                off: '<i class="fa fa-remove"></i>'
            },
            height: 26,
            width: 60
        });
        $('.toggleRealtime').toggles({
            text: {
                on: '<i class="fa fa-check"></i>',
                off: '<i class="fa fa-remove"></i>'
            },
            height: 26,
            width: 60
        });
        $('.toggleRealtime').on('toggle', function (e, active) {
            var id = $(this).data('rid')
            var shift_id = $(this).data('shift_id');
            var approve = 0
            if (active) {
                approve = 1
            }
            $.ajax({
                url: "<%=app_url%>/suburb/setrealtimeonlinedelivery",
                data: {
                    id,
                    approve,
                    shift_id
                },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    console.log("added")
                }
            });
        })

            function deleteVehicle(suburb) {
                $('.submitBtn').prop('disabled', true)
                $.confirm({
                    title: 'Confirm!',
                    content: 'Do you want to delete this suburb?',
                    buttons: {
                        Delete: function() {
                            $.ajax({
                                url: "<%=app_url%>/suburbs/delete",
                                data: {
                                    suburb
                                },
                                type: "POST",
                                dataType: "json",
                                success: function(data) {
                                    var {
                                        status,
                                        message,
                                        errors,
                                        data
                                    } = data;
                                    errors = typeof errors != 'undefined' ? errors : []
                                    message = typeof message != 'undefined' ? message : null
                                    data = typeof data != 'undefined' ? data : {}

                                    if (status == true) {
                                        toastr["success"](message);
                                        setTimeout(function() {
                                            window.location.href = "<%=app_url%>/suburbs";
                                        }, 1000)
                                    } else {
                                        if (errors.length > 0) {
                                            toastr["error"](errors[0]);
                                        } else if (message) {
                                            toastr["error"](message);
                                        }
                                        $('.submitBtn').prop('disabled', false)
                                    }
                                },
                                error: function(error) {
                                    $('.submitBtn').prop('disabled', false)
                                }
                            });
                        },
                        Cancel: function() {
                            // $.alert('Canceled!');
                        }
                    }
                });
            }
        </script>
        <%-include('../shared/footer-panel.ejs')%>