<%-include('../shared/head-panel.ejs')%>
    <link href="<%=asset_url%>/public/lib/jt.timepicker/jquery.timepicker.css" rel="stylesheet">
    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
        <div class="br-pageheader pd-y-15 pd-l-20">
            <nav class="breadcrumb pd-0 mg-0 tx-12">
                <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                    <%=SITE_NAME%>
                </a>
                <a class="breadcrumb-item" href="<%=app_url%>/shifts">Suburbs</a>
                <span class="breadcrumb-item active">New Shift</span>
            </nav>
        </div>
        <!-- br-pageheader -->
        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h5 class="tx-gray-800 mg-b-5">New Shift</h4>
        </div>

        <div class="br-pagebody">
            <div class="row mg-t-40">
                <div class="col-xl-6">
                    <form id="mainForm" action="javascript:;">
                        <div class="form-layout form-layout-4 bg-white">
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Name: <span class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <input type="text" class="form-control" placeholder="Enter Shift Name" name="name">
                                </div>
                            </div>
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Start Time: <span class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
                                        <input id="tpBasic" name="time" type="text" class="form-control" placeholder="Set time" onkeypress="event.preventDefault()">
                                    </div>
                                    <label class="error" for="tpBasic" style="display: none;"></label>
                                </div>
                            </div>
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Duration (hrs): <span class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <input type="number" class="form-control" placeholder="Enter Duration" name="duration">
                                </div>
                            </div>
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Icon: <span class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <input type="file" class="form-control" name="icon">
                                    <small style="color: rgb(245, 99, 99);" class="mt-2">NB: Height X Width => 100px X 100px</small>
                                </div>
                            </div>

                            <div class="form-layout-footer mg-t-30">
                                <button class="btn btn-info" type="submit">Submit Form</button>
                                <a href=""><button class="btn btn-secondary" type="button">Cancel</button></a>
                            </div>
                        </div>
                        <!-- form-layout -->
                    </form>
                </div>
                <!-- col-6 -->
            </div>
        </div>
        <!-- br-pagebody -->
    </div>
    <!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
    <%-include('../shared/scripts.ejs')%>
        <script src="<%=asset_url%>/public/lib/jt.timepicker/jquery.timepicker.js"></script>
        <script>
            $('#tpBasic').timepicker({
                timeFormat: 'h:i a',
                minTime: '06:30:00',
                interval: 30 // 15 minutes
            });
            $("form#mainForm").validate({
                normalizer: function(value) {
                    return $.trim(value);
                },
                rules: {
                    name: {
                        required: true
                    },
                    time: {
                        required: true
                    },
                    duration: {
                        max: 7,
                        required: true
                    },
                    icon: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "Name is required"
                    },
                    time: {
                        required: "Time is required"
                    },
                    duration: {
                        max: "Maximum duration is 5 hrs",
                        required: "Duration is required"
                    }
                },
                submitHandler: function(form) {
                    $('.submitBtn').prop('disabled', true)
                    var form = document.getElementById("mainForm");
                    var data = new FormData(form);
                    $.ajax({
                        url: "<%=app_url%>/shifts/new",
                        data,
                        type: "POST",
                        dataType: "json",
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function(data) {
                            var {
                                status,
                                message,
                                errors,
                                data
                            } = data;
                            errors = typeof errors != 'undefined' ? errors : []
                            message = typeof message != 'undefined' ? message : null
                            data = typeof data != 'undefined' ? data : {}

                            if (status == true) {
                                toastr["success"](message);
                                setTimeout(function() {
                                    window.location.href = "<%=app_url%>/shifts";
                                }, 1000)
                            } else {
                                if (errors.length > 0) {
                                    toastr["error"](errors[0]);
                                } else if (message) {
                                    toastr["error"](message);
                                }
                                $('.submitBtn').prop('disabled', false)
                            }
                        },
                        error: function(error) {
                            $('.submitBtn').prop('disabled', true)
                        }
                    });
                    return false;
                }
            });
        </script>
        <%-include('../shared/footer-panel.ejs')%>