<%-include('../shared/head-panel.ejs')%>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Notifications</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Notifications list</h4>
    </div>

    <div class="br-pagebody">
        <form action="">
            <div class="d-flex align-items-center justify-content-end bg-gray-100 ht-md-80  pd-x-20 mg-t-10">
                <div class="d-md-flex pd-y-20 pd-md-y-0 col-md-6">
                    <input type="text" class="form-control" name="search" value="<%=search%>"
                        placeholder="Search Title / Description">
                    <button type="submit"
                        class="btn btn-success pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Search</button>
                    <a href="<%=app_url%>/notificaitons%>" type="reset"
                        class="btn btn-danger pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Reset</a>
                </div>
            </div>
        </form>
        <table class="table table-bordered bg-white border-top-1 border border-light">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 0 %>
                <% notifications.forEach(notification => { i++ %>
                <tr>
                    <td>
                        <%= i %>
                    </td>
                    <td>
                        <%= notification.title %>
                    </td>
                    <td>
                        <%= notification.description %>
                    </td>
                    <td>
                        <% if(notification.image){ %>
                            <a href="<%=asset_url+'/'+notification.image%>" target="_blank">
                                <img src="<%=asset_url+'/'+notification.image%>" style="width: 60px;">
                            </a>
                        <% } %>
                       
                    </td>
                    <td>
                        <%= moment(notification.created_at).format('YYYY-MM-DD h:m:s a')%>
                    </td>
                    <td>
                        <a class="submitBtn" href="javascript:;" class="text-danger" onclick="deleteNotification('<%=notification._id%>')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <% });%>
            </tbody>
        </table>
        <%-include('../shared/pagination.ejs',pages)%>
    </div>
    <!-- br-pagebody -->
</div>
<!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<%-include('../shared/scripts.ejs')%>
<script>
        $("#notification").addClass('active show-sub')
        $("#allnotifications").addClass('active')    
    function deleteNotification(notification) {
        $('.submitBtn').prop('disabled', true)
        $.confirm({
            title: 'Confirm!',
            content: 'Do you want to delete this notification?',
            buttons: {
                Delete: function () {
                    $.ajax({
                        url: "<%=app_url%>/notifications/delete",
                        data: {
                            notification
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var {
                                status,
                                message,
                                errors,
                                data
                            } = data;
                            errors = typeof errors != 'undefined' ? errors : []
                            message = typeof message != 'undefined' ? message : null
                            data = typeof data != 'undefined' ? data : {}

                            if (status == true) {
                                toastr["success"](message);
                                setTimeout(function () {
                                    window.location.href = "<%=app_url%>/notifications";
                                }, 1000)
                            } else {
                                if (errors.length > 0) {
                                    toastr["error"](errors[0]);
                                } else if (message) {
                                    toastr["error"](message);
                                }
                                $('.submitBtn').prop('disabled', false)
                            }
                        },
                        error: function (error) {
                            $('.submitBtn').prop('disabled', false)
                        }
                    });
                },
                Cancel: function () {
                    console.log('cancelled')
                }
            }
        });
    }
</script>
<%-include('../shared/footer-panel.ejs')%>