<%-include('../shared/head-panel.ejs')%>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <a class="breadcrumb-item" href="<%=app_url%>/products">Notifications</a>
            <span class="breadcrumb-item active">New notification</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">New Notification</h4>
    </div>

    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Title: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="Enter title" name="title">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Description: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <textarea class="form-control" placeholder="Enter Description"
                                    name="description"></textarea>
                            </div>
                        </div>
                        <div class="row mg-t-20" hidden>
                            <label class="col-sm-4 form-control-label">Image:</label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" class="form-control" name="image">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Suburb:</label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control select2-show-search" data-placeholder="Choose suburb"
                                    id="suburb_id" name="suburbs[]" multiple="multiple">
                                    <option label="Choose one"></option>
                                    <%
                                            suburbs.forEach(suburb=>{
                                                %>
                                    <option value="<%=suburb._id%>"><%=suburb.name%></option>
                                    <%
                                            })
                                        %>
                                </select>
                                <label class="error" for="suburb_id" style="display: none;"></label>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Send Mail:</label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="checkbox" class="form-check-input" id="" value="1" name="email">
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <button class="btn btn-info" type="submit">Submit Form</button>
                            <a href=""><button class="btn btn-secondary" type="button">Cancel</button></a>
                        </div>
                    </div>
                    <!-- form-layout -->
                </form>
            </div>
            <!-- col-6 -->
        </div>
    </div>
    <!-- br-pagebody -->
</div>
<!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<%-include('../shared/scripts.ejs')%>
<script>
            $("#notification").addClass('active show-sub')
        $("#newnotification").addClass('active')    
    // messaging.getToken().then((currentToken) => {
    //     if (currentToken) {
    //         console.log({currentToken})
    //     } else {
    //         console.log('No Instance ID token available. Request permission to generate one.');
    //     }
    // }).catch((err) => {
    //     console.log('An error occurred while retrieving token. ', err);
    // });

    // Datepicker
    $('.fc-datepicker').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true
    });

    // Submit login form
    $("form#mainForm").validate({
        normalizer: function (value) {
            return $.trim(value);
        },
        rules: {
            title: {
                required: true
            },
            image: {
                required: false
            },
            'suburbs[]': {
                required: false
            },
            description: {
                required: true
            }
        },
        messages: {
            ttle: {
                required: "Notification title is required"
            },
            image: {
                required: "Image is required"
            },
            'suburbs[]': {
                required: "Suburb is required",
            },
            description: {
                required: "Description is required"
            }
        },
        submitHandler: function (form) {
            $('.submitBtn').prop('disabled', true)
            var form = document.getElementById("mainForm");
            var data = new FormData(form);
            $.ajax({
                url: "<%=app_url%>/notifications/new",
                data,
                type: "POST",
                dataType: "json",
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        data
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null
                    data = typeof data != 'undefined' ? data : {}

                    if (status == true) {
                        toastr["success"](message);
                        setTimeout(function () {
                            window.location.href = "<%=app_url%>/notifications";
                        }, 1000)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', true)
                }
            });
            return false;
        }
    });
</script>
<%-include('../shared/footer-panel.ejs')%>