<%-include('../shared/head-panel.ejs')%>

<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Punch Out driver</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Punch Out Driver</h4>
    </div>
    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Driver Name <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control select2-show-search" multiple data-placeholder="Choose Driver" name="driver" id="lstSelect">
                                    <option label="Choose Driver"></option>
                                    <%drivers.forEach((driver) => {%>
                                        <option value="<%=driver._id%>"><%=driver.name%></option>    
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <div class="form-layout-footer mg-t-30">
                                <button class="btn btn-info" type="submit" onclick="callBackDriver()">Submit</button>
                                <button class="btn btn-secondary" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mg-t-40">
            
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Callbacked At</th>
                </tr>
            </thead>
            <tbody>
                <%drivers_lists.forEach((driver) => {%>
                    <tr>
                        <td><%=driver.driver_details.name%></td>
                        <td><%=driver.driver_details.email%></td>
                        <td><%=driver.driver_details.mobile%></td>
                        <td><%=driver.created_at%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <%if(drivers_lists.length == 0) {%>
            <div class="alert alert-bordered alert-info" role="alert">
                <strong class="d-block d-sm-inline-block-force">Ooops !</strong> No result found.
            </div><!-- alert -->
        <%}%>
        </div>
    </div>

</div>

<%-include('../shared/scripts.ejs')%>
<script>
        $("#transferrequests").addClass('active show-sub')
        $("#callbackdriver").addClass('active')    
    function callBackDriver() {
        var driver_ids = [];    
        $("#lstSelect :selected").each(function(){
            driver_ids.push($(this).val()); 
        });
        $.confirm({
            title: 'Confirm!',
            content: 'Do you want to punch out selected drivers',
            buttons: {
                Callback: function () {
                    $.ajax({
                        url: "<%=app_url%>/transfers/callbackdriver",
                        data: {
                            driver_ids
                        },
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            var {
                                status,
                                message,
                                errors,
                                data
                            } = data;
                            errors = typeof errors != 'undefined' ? errors : []
                            message = typeof message != 'undefined' ? message : null
                            data = typeof data != 'undefined' ? data : {}

                            if (status == true) {
                                toastr["success"](message);
                                window.location.reload()
                            } else {
                                if (errors.length > 0) {
                                    toastr["error"](errors[0]);
                                } else if (message) {
                                    toastr["error"](message);
                                }
                                $('.submitBtn').prop('disabled', false)
                            }
                        },
                        error: function (error) {
                            $('.submitBtn').prop('disabled', true)
                        }
                    });
                },
                Cancel: function() {
                }
            }
        });
    }
</script>
<%-include('../shared/footer-panel.ejs')%>