<%-include('../shared/head-panel.ejs')%>

<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Refill Driver</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Refill Driver</h4>
    </div>

    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Suburb <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control select2-show-search"
                                    data-placeholder="Choose suburb" name="suburb_id" id="cp"
                                    onchange="changeDrivers(this)">
                                    <option label="Choose Collection Point"></option>
                                    <%suburbs.forEach((suburb) => {%>
                                    <option value="<%=suburb._id%>"><%=suburb.name%></option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Driver Name <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control select2-show-search" data-placeholder="Choose Driver"
                                    name="driver" id="driver">
                                    <option label="Choose Driver"></option>
                                    <%drivers.forEach((driver) => {%>
                                    <option value="<%=driver._id%>"><%=driver.name%></option>
                                    <%})%>
                                </select>
                            </div>
                        </div>
                        <%products.forEach((product) => {%>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label"><%=product.name%>: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <!-- <input type="text" name="products" value="<%=product._id%>"> -->
                                <input type="number" class="form-control products form-control-sm"
                                    id="input-<%=product._id%>" placeholder="count" name="products[<%=product._id%>]">
                            </div>
                        </div>
                        <%})%>

                        <div class="form-layout-footer mg-t-30">
                            <button class="btn btn-info" type="submit">Submit</button>
                            <button class="btn btn-secondary" type="button">Cancel</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
        <div class="row mg-t-40">
            <table class="table bg-white pd-t-20">
                <thead>
                    <th>Driver Name</th>
                    <th>Items</th>
                </thead>
                <tbody>
                    <%lists.forEach((product) => {%>
                    <tr>
                        <td><%=product.driver.name%> / <br> <%=product.driver.email%> / <br> <%=product.driver.mobile%>
                        </td>
                        <td>
                            <%
                                        if(product.products.length > 0){
                                            product.products.forEach(prd=>{
                                                %>
                            <span class="badge badge-primary ml-1"><%= prd.name +"-"+prd.stock %></span>
                            <%
                                            })
                                        }
                                    %>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<%-include('../shared/scripts.ejs')%>
<script>
        $("#transferrequests").addClass('active show-sub')
        $("#refillingdriver").addClass('active')    
    function renderDrivers(drivers) {
        driverhtml = `<option label="Choose one"></option>`
        if (drivers.length > 0) {
            $.each(drivers, function (key, driver) {
                driverhtml += `<option value="${driver._id}">${driver.name}</option>`
            })
        }
        $('#driver').html(driverhtml)
        $("#driver").select2("destroy").select2();
    }

    function changeDrivers(el) {
        var val = $(el).val()
        if(!val){
            return false
        }
        $.ajax({
            url: "<%=app_url%>/get_drivers_suburb",
            data: {
                suburb_id: val
            },
            type: "GET",
            dataType: "json",
            success: function (data) {
                var {
                    status,
                    message,
                    errors,
                    drivers
                } = data;
                errors = typeof errors != 'undefined' ? errors : []
                message = typeof message != 'undefined' ? message : null
                drivers = typeof data != 'undefined' ? drivers : {}

                if (status == true) {
                    renderDrivers(drivers)
                } else {
                    if (errors.length > 0) {
                        toastr["error"](errors[0]);
                    } else if (message) {
                        toastr["error"](message);
                    }
                    $('.submitBtn').prop('disabled', false)
                }
            },
            error: function (error) {
                $('.submitBtn').prop('disabled', true)
            }
        });
        return false;
    }

    $("form#mainForm").validate({
        normalizer: function (value) {
            return $.trim(value);
        },
        rules: {
            driver: {
                required: true
            },
            suburb_id:{
                required: true
            }
        },
        messages: {
            driver: {
                required: "Driver is required"
            },
            suburb_id: {
                required: "Suburb is required"
            }
        },
        submitHandler: function (form) {
            $('.submitBtn').prop('disabled', true)
            var form = document.getElementById("mainForm");
            var data = $(form).serialize();
            $.ajax({
                url: "<%=app_url%>/transfers/refillingdrivers",
                data,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        data
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null
                    data = typeof data != 'undefined' ? data : {}

                    if (status == true) {
                        toastr["success"](message);
                        setTimeout(function () {
                            window.location.reload()
                        }, 1000)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', true)
                }
            });
            return false;
        }
    });
</script>
<%-include('../shared/footer-panel.ejs')%>