<%-include('../shared/head-panel.ejs')%>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <a class="breadcrumb-item" href="<%=app_url%>/products">Products</a>
            <span class="breadcrumb-item active">New Product</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">New Product</h4>
    </div>

    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Name: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="Enter Product Name" name="name">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Image: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" class="form-control" name="image">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Cover Pic: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" class="form-control" name="cover_pic">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Type: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control" name="type">
                                    <option value="FOOD">Food</option>
                                    <option value="ACCESSORIES">Accessories</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Is this regular food?: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control" name="is_regular">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="foodDetails">
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Food Category: <span
                                        class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                    <select class="form-control" name="is_veg">
                                        <option value="" selected>Select Food Type</option>
                                        <option value="1">VEG</option>
                                        <option value="0">NON VEG</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mg-t-20">
                                <label class="col-sm-4 form-control-label">Allergen Contents: <span
                                        class="tx-danger">*</span></label>
                                <div class="col-sm-8 mg-t-10 mg-sm-t-0 allergenContent">
                                    <input type="text" name="allergen_contents[]" class="form-control"
                                        placeholder="Allergen Content">
                                    <div class="mg-t-10 mg-sm-t-0" style="float: right">
                                        <a href="javascript:;" class="extraField">
                                            <div class="text-success"><i class="fa fa-plus"></i> Add More</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Price: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="number" class="form-control" placeholder="Enter Product Price"
                                    name="price">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Container Size: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" placeholder="Enter Container Size"
                                    name="container_size">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Ingredients: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <textarea class="form-control" placeholder="Enter Ingredients"
                                    name="ingredients"></textarea>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Description: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <textarea class="form-control" placeholder="Enter Description"
                                    name="description"></textarea>
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">
                            <button class="btn btn-info" type="submit">Submit Form</button>
                            <a href=""><button class="btn btn-secondary" type="button">Cancel</button></a>
                        </div>
                    </div>
                    <!-- form-layout -->
                </form>
            </div>
            <!-- col-6 -->
        </div>
    </div>
    <!-- br-pagebody -->
</div>
<!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<%-include('../shared/scripts.ejs')%>
<script>
    $("#products").addClass('active show-sub')
    $("#newproduct").addClass('active')
    // Datepicker
    $('.fc-datepicker').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true
    });

    // Submit login form
    $("form#mainForm").validate({
        normalizer: function (value) {
            return $.trim(value);
        },
        rules: {
            name: {
                required: true
            },
            image: {
                required: true
            },
            type: {
                required: true
            },
            price: {
                required: true,
                number: true,
                min: 1
            },
            is_veg: {
                required: true,
            }
        },
        messages: {
            name: {
                required: "Product name is required"
            },
            image: {
                required: "Product image is required"
            },
            type: {
                required: "Product type is required"
            },
            price: {
                required: "Product price is required",
                number: "Product price must be a number greater than zero",
                max: "Product price must be a number greater than zero"
            },
            is_veg: {
                required: "Food category is required",
            }
        },
        submitHandler: function (form) {
            $('.submitBtn').prop('disabled', true)
            var form = document.getElementById("mainForm");
            var data = new FormData(form);
            $.ajax({
                url: "<%=app_url%>/products/new",
                data,
                type: "POST",
                dataType: "json",
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        data
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null
                    data = typeof data != 'undefined' ? data : {}

                    if (status == true) {
                        toastr["success"](message);
                        setTimeout(function () {
                            window.location.href = "<%=app_url%>/products";
                        }, 1000)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', true)
                }
            });
            return false;
        }
    });

    $("select[name='type']").on('change', function () {
        let type = $(this).val()
        if (type == 'FOOD') {
            $('.foodDetails').fadeIn()
        } else {
            $('.foodDetails').fadeOut()
        }
    })

    var i = 1
    $('.extraField').on('click', () => {
        $('.allergenContent').append(`
                    <div class="remove${i}">
                        <input type="text" name="allergen_contents[]" class="mt-1 form-control allergenContent" placeholder="Allergen Content">
                        <div class="mg-t-10 mg-sm-t-0" style="float: right">
                            <a href="javascript:;" onclick="removeField('remove${i}')">
                                <div class="text-danger"><i class="fa fa-minus"></i> Remove</div>
                            </a>
                        </div>
                    </div>
                    `);
        i++
    })
    function removeField(rem) {
        $('.' + rem).remove()
    }
</script>
<%-include('../shared/footer-panel.ejs')%>