<%-include('../shared/head-panel.ejs')%>
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Orders</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Collection Point Sales Report</h4>
    </div>
    <div class="br-pagebody">
        <form action="">
            <div class="d-flex align-items-center justify-content-end bg-gray-100 ht-md-80  pd-x-20 mg-t-10">
                <div class="d-md-flex pd-y-20 pd-md-y-0 col-md-10">
                    <input type="text" class="form-control" name="search" value="<%=search%>"
                        placeholder="Search Name">
                    <input class="form-control fc-datepicker ml-2" name="from_date" value="<%=from_date%>"
                        placeholder="Search by date">
                    <input class="form-control fc-datepicker ml-2" name="to_date" value="<%=to_date%>"
                        placeholder="Search by date">
                    <button type="submit"
                        class="btn btn-success pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Search</button>
                    <a href="<%=app_url%>/reports/cpsales" type="reset"
                        class="btn btn-danger pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Reset</a>
                </div>
            </div>
        </form>
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Suburb</th>
                    <th>Orders(From App)</th>
                    <th>Order Price(From App)</th>
                    <th>Orders(Direct)</th>
                    <th>Order Price(Direct)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <%
                    collectionpoints.forEach((cp,index)=>{
                        let {_id,name,orders_from_app,orders_from_app_price,suburb,orders_direct,orders_direct_price} = cp
                        let suburb_name = ""
                        if(suburb){
                            suburb_name = suburb.name
                        }
                        %>
                <tr>
                    <td><%=++index%></td>
                    <td><%=name%></td>
                    <td><%=suburb_name%></td>
                    <td><%=orders_from_app%></td>
                    <td><%=orders_from_app_price?orders_from_app_price.toFixed(2):""%></td>
                    <td><%=orders_direct%></td>
                    <td><%=orders_direct_price?orders_direct_price.toFixed(2):""%></td>
                    <td>
                        <a class="submitBtn btn btn-sm btn-primary" target="__blank"
                            href="<%=app_url%>/reports/cpsales/export?cp_id=<%=_id%>&from_date=<%=from_date%>&to_date=<%=to_date%>"
                            class="text-danger" title="Export to excel">
                            <i class="fa fa-file"></i>
                        </a>
                    </td>
                </tr>
                <%
                    })
                %>
            </tbody>
        </table>
        <%-include('../shared/pagination.ejs',pages)%>
    </div>
    <%-include('../shared/scripts.ejs')%>
    <script>
        $("#reports").addClass('active show-sub')
        $("#collectionpointsales").addClass('active')    
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: 'yy-mm-dd'
        });
    </script>
    <%-include('../shared/footer-panel.ejs')%>