<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Food delivery cum tracking application dashboard">
    <meta name="author" content="Iroid technologies">
    <title>riceNgrills</title>
    <!-- css -->
    <link href="<%=asset_url%>/public/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="<%=asset_url%>/public/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link rel="stylesheet" href="<%=asset_url%>/public/css/bracket.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="<%=asset_url%>/public/css/ricengrills.css">
</head>

<body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">
        <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base loginDiv">
            <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> riceNgrills <span class="tx-normal">]</span></div>
            <div class="tx-center mg-b-10">The Admin Template For riceNgrills</div>
            <form action="javascript:;" id="mainForm">
                <div class="form-group">
                    <input type="hidden" name="token" value="<%=token%>">
                    <input type="password" class="form-control" id="password" placeholder="Enter new password" name="password">
                </div>
                <!-- form-group -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re enter password" name="cpassword">
                </div>
                <!-- form-group -->
                <button type="submit" class="btn btn-info btn-block submitBtn">Submit</button>
            </form>
        </div>
        <!-- login-wrapper -->
    </div>
    <!-- d-flex -->

    <script src="<%=asset_url%>/public/lib/jquery/jquery.js"></script>
    <script src="<%=asset_url%>/public/lib/popper.js/popper.js"></script>
    <script src="<%=asset_url%>/public/lib/bootstrap/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script>
        // Submit login form
        $("form#mainForm").validate({
            normalizer: function(value) {
                return $.trim(value);
            },
            rules: {
                password: {
                    required: true
                },
                cpassword: {
                    required: true,
                    equalTo: '#password'
                }
            },
            messages: {
                password: {
                    required: 'Password is required'
                },
                cpassword: {
                    required: 'Re enter your passsword'
                }
            },
            submitHandler: function(form) {
                $('.submitBtn').prop('disabled', true)
                $.ajax({
                    url: "<%=app_url%>/update-password",
                    data: $(form).serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        var {
                            status,
                            message,
                            errors,
                            data
                        } = data;
                        errors = typeof errors != 'undefined' ? errors : []
                        message = typeof message != 'undefined' ? message : null
                        data = typeof data != 'undefined' ? data : {}

                        if (status == true) {
                            toastr["success"](message);
                            setTimeout(function() {
                                window.location.href = "<%=app_url%>";
                            }, 2000)
                        } else {
                            if (errors.length > 0) {
                                toastr["error"](errors[0]);
                            } else if (message) {
                                toastr["error"](message);
                            }
                            $('.submitBtn').prop('disabled', false)
                        }
                    },
                    error: function(error) {
                        $('.submitBtn').prop('disabled', true)
                    }
                });
                return false;
            }
        });
    </script>
</body>

</html>