<%-include('../shared/head-panel.ejs')%>
<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <a class="breadcrumb-item" href="<%=app_url%>/vehicles">Vehicles</a>
            <span class="breadcrumb-item active">Edit Vehicle</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Edit Vehicle</h4>
    </div>

    <div class="br-pagebody">
        <div class="row mg-t-40">
            <div class="col-xl-6">
                <form id="mainForm" action="javascript:;">
                    <div class="form-layout form-layout-4 bg-white">
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Registration Number: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="text" class="form-control" value="<%= vehicle.registration_number %>"
                                    placeholder="Enter Registration Number" name="registration_number">
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Insurance: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input type="file" class="form-control" name="insurance">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="imageDiv">
                                    <img src="/<%= vehicle.insurance %>" value="<%=vehicle.insurance%>" alt="insurance"
                                        id="insurance" class="img img-thumbnail" width="150px">
                                </div>
                            </div>
                        </div>
                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Insurance Validity: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <!-- <input type="text" class="form-control" placeholder="Enter Insurance Validity" name="insurance_validity"> -->
                                <div class="input-group">
                                    <span class="input-group-addon"><i
                                            class="icon ion-calendar tx-16 lh-0 op-6"></i></span>
                                    <input type="text" class="form-control fc-datepicker" name="insurance_validity"
                                        value=" <%= vehicle.insurance_validity %>">
                                </div>
                            </div>
                        </div>

                        <div class="row mg-t-20">
                            <label class="col-sm-4 form-control-label">Vehicle Type: <span
                                    class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <select class="form-control" name="type">
                                    <option selected><%=vehicle.type%></option>

                                    <% if(vehicle.type == "REFILLING") { %>
                                    <option value="DELIVERY">Delivery</option>
                                    <% } else { %>
                                    <option value="REFILLING">Refilling</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="form-layout-footer mg-t-30">

                            <button class="btn btn-info" type="submit">Update</button>
                            <button class="btn btn-secondary" type="button">Cancel</button>
                        </div>
                    </div>
                    <!-- form-layout -->
                </form>
            </div>
            <!-- col-6 -->
        </div>
    </div>
    <!-- br-pagebody -->
</div>
<!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
<%-include('../shared/scripts.ejs')%>
<script>
    var vehicle_type = '<%=vehicle.type%>'
    // Datepicker
    $('.fc-datepicker').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true
    });

    // Submit login form
    $("form#mainForm").validate({
        normalizer: function (value) {
            return $.trim(value);
        },
        rules: {
            insurance: {
                required: true
            },
            insurance_validity: {
                required: true
            },
            registration_number: {
                required: true
            }
        },
        messages: {
            insurance: {
                required: "Insurance is required"
            },
            insurance_validity: {
                required: "Insurance validity is required"
            },
            registration_number: {
                required: "Registration number is required"
            }
        },
        submitHandler: function (form) {
            $('.submitBtn').prop('disabled', true)
            var form = document.getElementById("mainForm");
            var data = new FormData(form);
            $.ajax({
                url: "<%=app_url%>/vehicles/edit/<%=vehicle._id%>",
                data,
                type: "POST",
                dataType: "json",
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        data
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null
                    data = typeof data != 'undefined' ? data : {}

                    if (status == true) {
                        toastr["success"](message);
                        setTimeout(function () {
                            if(vehicle.type == "REFILLING"){
                                window.location.href = "<%=app_url%>/vehicles";
                            }else{
                                window.location.href = "<%=app_url%>/deliveryVehicle";
                            }
                        }, 1000)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', true)
                }
            });
            return false;
        }
    });
</script>
<%-include('../shared/footer-panel.ejs')%>