<%-include('../shared/head-panel.ejs')%>
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Orders</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Scheduled Orders</h4>
    </div>
    <div class="br-pagebody">
        <form action="" method="GET">
            <div class="d-flex align-items-center justify-content-end bg-gray-100 ht-md-80 bd pd-x-20 mg-t-10">
                <div class="d-md-flex pd-y-20 pd-md-y-0 col-md-6">
                  <input type="text" class="form-control" name="search" value="" placeholder="Search">
                  <button type="submit" class="btn btn-success pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Search</button>
                  <a href="" type="reset" class="btn btn-danger pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Reset</a>
                </div>
            </div>
        </form>
        <div class="col-lg-4 mg-t-20 mg-lg-t-0">
          </div>
          <table class="table table-bordered bg-white border-top-1 border border-light">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Booking Id</th>
                    <th>Scheduled Date</th>
                </tr>
            </thead>
            <tbody>
                <%let i = 0 %>
                <% stocks.forEach(stock=>{ i++
                    let{user}= stock
                    let user_name = user? user.name:""

                    %>
                    
                    <tr>
                        <td><%= i %></td>
                        <td><%=user_name%></td>
                        <td><%=stock.booking_id%></td>
                        <td><%=moment(stock.scheduled_date).format('DD-MM-YYYY') %></td>
                    </tr>
                <%})%>
            </tbody>
            </table>
        </div>
</div>

<%-include('../shared/scripts.ejs')%>
<%-include('../shared/footer-panel.ejs')%>
