<%-include('../shared/head-panel.ejs')%>
<div class="br-mainpanel">
    <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" href="<%=app_url%>/dashboard">
                <%=SITE_NAME%>
            </a>
            <span class="breadcrumb-item active">Orders</span>
        </nav>
    </div>
    <!-- br-pageheader -->
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h5 class="tx-gray-800 mg-b-5">Order List</h4>
    </div>
    <div class="br-pagebody">
        <!-- <form action="" id="searchForm">
            <div class="d-flex align-items-center justify-content-end bg-gray-100 ht-md-80  pd-x-20 mg-t-10">
                <div class="d-md-flex pd-y-20 pd-md-y-0 col-md-8">
                    <select class="form-control mr-1 col-md-3" name="status" onchange="changeStatus()">
                        <option value="">ALL</option>
                        <option value="1" <%=(status==="1")?"selected":""%>>Delivered</option>
                        <option value="0" <%=(status==="0")?"selected":""%>>Pending</option>
                    </select>
                    <input type="text" class="form-control" name="search" value="<%=search%>"
                        placeholder="Search Name / Email / Mobile/ Suburb">
                    <button type="submit"
                        class="btn btn-success pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Search</button>
                    <a href="<%=app_url%>/orders/list" type="reset"
                        class="btn btn-danger pd-y-13 pd-x-20 bd-0 mg-md-l-10 mg-t-10 mg-md-t-0 tx-uppercase tx-11 tx-spacing-2">Reset</a>
                </div>
            </div>
        </form> -->
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Type</th>
                    <th>Name</th>
                    <th>Products/Quantity</th>
                    <th>Address</th>
                    <th>Schedule</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach((order,index)=>{ 
                    <!-- console.log(order) -->
                        let {_id,orders,booking_id,scheduled_date,created_at,user,shift, booking_type, redeemed, address, driver_id } = order                        
                        let user_name = ""
                        let suburb_name = ""
                        let address_string = ""
                        if(address){
                            let {address_line1,house_flat_no, landmark, to_reach, suburb} = address
                            if(suburb){                                
                                suburb_name = suburb.name
                            } 
                            address_string += `
                            <table style="width: 100%;" border="1">
                            <tr>
                                <th>Address Line 1</th><td>${address_line1}</td>
                            </tr>
                            <tr>
                                <th>Unit</th><td>${house_flat_no}</td>
                            </tr>
                            <tr>
                                <th>Street Name</th><td>${landmark}</td>
                            </tr>
                            <tr>    
                                <th>Instructions reach location</th><td>${to_reach}</td>
                            </tr>
                            </table>
                            `
                        }
                        if(user){
                            user_name = user.name
                        }
                        let shift_name = ""
                        if(shift){
                            shift_name = shift.name
                        }
                    %>
                <tr>
                    <td><%= booking_id %></td>
                    <td><%=booking_type%></td>
                    <td><%=user_name%></td>
                    <td>
                        <%
                        if(orders.length > 0){
                            orders.forEach(order=>{
                                let {product_id, name:product_name,quantity} = order
                                %>
                        <div class="badge badge-success">
                            <%=product_name+"-"+quantity%>
                        </div>
                        <%
                            })
                        }
                        %>
                    </td>
                    <td>
                        <span class="btn btn-sm" data-toggle="popover" title="Address" data-content="<%=address_string%>"><i class="fa fa-list"></i></span>                        
                    </td>
                    <td>
                        <div class="toggle-wrapper">
                            <div data-id="<%=_id%>" class="toggle toggle-light primary" <% if(driver_id) { %>data-toggle-on="true" <%}%> ></div>
                        </div>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <%-include('../shared/pagination.ejs',pages)%>
    </div>
    <%-include('../shared/scripts.ejs')%>
    <script>
        $(document).ready(function(){
          $('[data-toggle="popover"]').popover({
            html : true,
          });   
        });

        var driver_id = "<%=driver_id%>"
        $('.toggle').toggles({
            text: {
                on: '<i class="fa fa-check"></i>',
                off: '<i class="fa fa-remove"></i>'
            },
            height: 26,
            width: 60
        });

    $('.toggle').on('toggle', function (e, active) {
        var id = $(this).data('id')
        var approve = 0
        if (active) {
            approve = 1
        }
        $.ajax({
            url: "<%=app_url%>/scheduledorder/approve",
            data: {
                id,
                approve,
                driver_id
            },
            type: "POST",
            dataType: "json",
            success: function (data) {
                console.log("added")
            }
        });
    });

        $("form#rejectForm").validate({
            normalizer: function (value) {
                return $.trim(value);
            },
            rules: {
                price: {
                    required: true
                }
            },
            messages: {
                price: {
                    required: "Please enter offer price"
                }
            },
            submitHandler: function (form) {
                $('.submitBtn').prop('disabled', true)
                var form = document.getElementById("rejectForm");
                var data = $(form).serialize();
                $.ajax({
                    url: "<%=app_url%>/bulkorders/rejectorder",
                    data,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        var {
                            status,
                            message,
                            errors,
                        } = data;
                        errors = typeof errors != 'undefined' ? errors : []
                        message = typeof message != 'undefined' ? message : null
                        if (status == true) {
                            toastr["success"](message);
                            setTimeout(function () {
                                window.location.href = "<%=app_url%>/bulkorders/list";
                            }, 1000)
                        } else {
                            if (errors.length > 0) {
                                toastr["error"](errors[0]);
                            } else if (message) {
                                toastr["error"](message);
                            }
                            $('.submitBtn').prop('disabled', false)
                        }
                    },
                    error: function (error) {
                        $('.submitBtn').prop('disabled', true)
                    }
                });
                return false;
            }
        });

        $("form#approvalForm").validate({
            normalizer: function (value) {
                return $.trim(value);
            },
            rules: {
                admin_review: {
                    required: true
                }
            },
            messages: {
                admin_review: {
                    required: "Please enter reason"
                }
            },
            submitHandler: function (form) {
                $('.submitBtn').prop('disabled', true)
                var form = document.getElementById("approvalForm");
                var data = $(form).serialize();
                $.ajax({
                    url: "<%=app_url%>/bulkorders/approveorder",
                    data,
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        var {
                            status,
                            message,
                            errors,
                        } = data;
                        errors = typeof errors != 'undefined' ? errors : []
                        message = typeof message != 'undefined' ? message : null
                        if (status == true) {
                            toastr["success"](message);
                            setTimeout(function () {
                                window.location.href = "<%=app_url%>/bulkorders/list";
                            }, 1000)
                        } else {
                            if (errors.length > 0) {
                                toastr["error"](errors[0]);
                            } else if (message) {
                                toastr["error"](message);
                            }
                            $('.submitBtn').prop('disabled', false)
                        }
                    },
                    error: function (error) {
                        $('.submitBtn').prop('disabled', true)
                    }
                });
                return false;
            }
        });
    </script>
    <script>
        function renderRejectModal(order) {
            var { _id } = order
            $("#modal_order").val(_id)
            $('#orderRejectModal').modal('toggle')
        }

        function renderApproveModal(order) {
            var { _id } = order
            $("#modal_order2").val(_id)
            $('#orderApprovalModal').modal('toggle')
        }
        function rejectOrder(el) {
            var order_id = $(el).data("order")
            if (!order_id) {
                toastr['error']("Could not find an order id")
            }
            $.ajax({
                url: "<%=app_url%>/bulkorders/getorder",
                data: {
                    order_id
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        order
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null

                    if (status == true) {
                        console.log({ order })
                        renderRejectModal(order)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', false)
                }
            });
        }

        function approveOrder(el) {
            var order_id = $(el).data("order")
            if (!order_id) {
                toastr['error']("Could not find an order id")
            }
            $.ajax({
                url: "<%=app_url%>/bulkorders/getorder",
                data: {
                    order_id
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var {
                        status,
                        message,
                        errors,
                        order
                    } = data;
                    errors = typeof errors != 'undefined' ? errors : []
                    message = typeof message != 'undefined' ? message : null

                    if (status == true) {
                        console.log({ order })
                        renderApproveModal(order)
                    } else {
                        if (errors.length > 0) {
                            toastr["error"](errors[0]);
                        } else if (message) {
                            toastr["error"](message);
                        }
                        $('.submitBtn').prop('disabled', false)
                    }
                },
                error: function (error) {
                    $('.submitBtn').prop('disabled', false)
                }
            });
        }

        function changeStatus(){
            $('input[name="search"]').val('');
            $('#searchForm').submit();
        }
    </script>
    <%-include('../shared/footer-panel.ejs')%>